body{
display:flex ;
justify-content: center;
align-items: center;
min-height: 300px;


}
.btn-modern{
   width: 300px;
   height: 30px;
   border-radius: 5%;
    transition: alls 0.4s;
}

.btn-modern:hover{
transform: translateY(-5px);
box-shadow:0 5px  rgb(72, 74, 72);
background-color: green;
color: aliceblue;


}